header {
  background: #171717;
  nav {
    display: flex;
    padding: 48px 180px 112px 180px;
    h2 {
      color: #fec45d;

      font-size: 24px;
      font-weight: 700;
      span {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
      }
    }
    h2:hover {
      color: #fff;
      transition: 0.3s ease all;
      span {
        color: #fec45d;
        transition: 0.3s ease all;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 40px;
      flex: 1 0 0;
      a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
      a:hover {
        border-bottom: 2px solid #fec45d;
        color: #fec45d;
        transition: 0.2s ease all;
      }
    }
  }
}
